@font-face {
	font-family: 'QuicksandBook';
	src: url('http://www.htmlandcssbook.com/code-samples/chapter-15/fonts/Quicksand_Book-webfont.eot');
	src: url('http://www.htmlandcssbook.com/code-samples/chapter-15/fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opetntype'),
	url('http://www.htmlandcssbook.com/code-samples/chapter-15/fonts/Quicksand-Book-webfont.woff') format('woff'),

    url('http://www.htmlandcssbook.com/code-samples/chapter-15/fonts/Quicksand_Book-webfont.ttf') format('truetype'),
	url('http://www.htmlandcssbook.com/code-samples/chapter-15/fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
font-weight: normal;
    font-style: normal;}

body {
	color: #ffffff;
  background: #413f3b url("http://www.htmlandcssbook.com/code-samples/chapter-15/images/bg.jpg");
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 90%;
	margin: 0px;
	text-align: center;}

a {
	color: #b5c1ad;
	text-decoration: none;
  font-size: small;
}

a:hover {
	color: #ffffff;
text-decoration: none;}

.header {
	background-image: url("http://www.htmlandcssbook.com/code-samples/chapter-15/images/bg-header.jpg");
	padding: 0px 0px 0px 0px;
	height: 100px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 50;}

.nav {
  float: inherit;
  font-family: 'QuicksandBook', Helvetica, Arial, sans-serif;
 text-align: center;
margin-top: -49px;
margin-left: 76em;
letter-spacing: 2px;
}

.wrapper {
	width: 960px;
	margin: 0px auto;
	background-image: url("http://www.htmlandcssbook.com/code-samples/chapter-15/images/bg-triangle.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	text-align: left;}

.logo {
	margin-bottom: 20px;
  margin-left: -62em;
}

h1, h2 {
	font-family: QuicksandBook, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: uppercase;}

h1 {
	font-size: 240%;
	margin-top: 140px;}

.date {
        font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    color: #b5c1ad;

    margin-top: 1em;
  }
  .grid_3
  {
        width: 23%;
  }

.intro {
	float: right;
	font-size: 100%;
	line-height: 1.4em;}

.main-story {
	background-image: url("http://www.htmlandcssbook.com/code-samples/chapter-15/images/triangles.png");
	background-repeat: no-repeat;
	background-position: 122px 142px;
	height: 570px;
  margin-top: -15em;
}

.more-articles {
	border-top: 1px solid #ffffff;
	padding: 10px;}

.more-articles p {
	border-bottom: 1px solid #807c72;
	padding: 5px 0px 15px 0px;
	font-size: 80%;

}

.more-articles p:last-child {
	border-bottom: none;
}
.grid_12
{
      font-family: Arial, Helvetica, sans-serif
}
  .push_6 h1
  {
    padding-top: 7em;
    padding-left: 24em;
  }

.footer {
	clear: both;
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 10px;
}

.footer p {
  font-family: Arial, Helvetica, sans-serif;
   font-size: 149%;
   text-align: right;
   margin-right: 63px;}

.footer a {
	color: #807c72;}
